.container {
    max-width: 100%;
    padding: 2rem;
    text-align: center;
  }
  @media screen and (max-width: 400px) {
    .container {
      padding: 0 0.5rem;
    }
  } 
  .container h1{
    color: rgb(40, 61, 61);
  }
  .header {
    max-width: 100%;
    margin-top: 2rem;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr  1fr 1fr 1fr;
    place-items: center;
    justify-content: space-between;
  }
 
  
  .header div {

    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-right: 5px;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
  }

   @media screen and (max-width: 400px) {
    .header div {
  font-size: 15px;
  font-weight: 400;
  padding-right: 0;
  border-bottom: 1px solid black;
    }
  } 
  .body {
    width: 100%;
     display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
  }
  
  .body > * {
    flex: 1;
  }
  
  .image {
    width: 100px;
  }
  @media screen and (max-width: 400px) {
    .image {
   width: 50px;
   max-height: 70px;
    }
  } 
  .buttons > * {
    width: 25px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    margin: 0.5rem;
    font-size: 1rem;
  }
  .long{
    width: 70ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .checkout a{
    background-color: purple;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 20px;
  }