
.nav{
  width: 100%;  
  cursor: pointer;
   
}
.logo{
    border-radius: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to right, #8e2de2, #b32e7b);
    color: #000000;
}


